*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

:root{
    --primary-color: #f5f1f1;
    --secondary-color: #000000;
    --accent-color: #322a3a;
    --font-family: 'Arial', sans-serif;
}
 body{
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.6;
 }
 header{
    text-align: center;


 }
 main{
    
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1.5rem;
 }